/*Dark blue #0E3B43
Medium blue #006261
Aqua #208A72
Green #5CB277
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: linear-gradient(to right,  rgb(14, 59, 67),  rgb(14, 0, 67) );

}

.login_form {
  top: 100px !important;
  height: 400px !important;
  background-color: rgba(245, 245, 245, 0.363);
  border-radius: 15%;
}

.buttons {
  justify-content: center !important;
  align-items: center !important;
}

.inicia_sesion {
  font-family: sans-serif;
}

.NonDisplay {
  display: none;
}

@media screen and (min-width: 1000px) {
  .NonDisplay {
    display: block;
  }
}