@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    align-items: center;
    background-image: linear-gradient(to right,  rgb(14, 59, 67),  rgb(30, 97, 109), rgb(14, 59, 67) );
}

.content {
    margin: 0 15%;
}

#mapContainer {
    width: 900px;
    height: 575px;
    display: block;
}

.nav {
    background-color: #0d6160c0 !important;
}