<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Hackathon</title>
</head>

<body>
    <main class="container">
        <section class="row mt-4">
            <div class="mx-auto" id="mapContainer"></div>
        </section>
        <div class="content">
            <section class="row">
                <section class="col-12">
                    <h3 class="text-center my-3">Comentarios</h3>
                    <section id="reviews"></section>
                </section>
            </section>
            <section class="my-3" id="form">
                <h3 class="text-center my-5">Agrega un comentario</h3>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Especialidad</label>
                        <input type="email" class="form-control" id="job"
                            placeholder="Front End Developer o UX Designer">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Empresa a evaluar</label>
                        <input type="text" class="form-control" id="company" placeholder="Nombre de la empresa">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Calificación</label>
                        <input type="text" class="form-control" id="rating"
                            placeholder="Dale una puntuación del 1 al 5.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">¿Recomiendas esta empresa?</label>
                        <input type="text" class="form-control" id="recommendation" placeholder="Sí o No">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">¿Por qué?</label>
                        <input type="text" class="form-control" id="comment" placeholder="Comentarios de esta empresa">
                        <small id="emailHelp" class="form-text text-muted">Recuerda hablar de situaciones en concreto,
                            cómo
                            les diste solución, los agentes involucrados, ser totalmente objetiva, y trata de no
                            involucrar
                            sentimientos.</small>
                    </div>
                    <button id="add-review">Agregar reseña</button>
                </form>
            </section>
        </div>
    </main>

    <script src="../js/keys.js"></script>
    <script src="../js/map.js"></script>
    <script src="../js/data.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>